<div class="col-xs-2">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="#" id="profileBtn">Profile</a></li>
    <% if @students.count > 0 %>
      <li role="presentation"><a href="#" id="reportsBtn">Reports</a></li>
    <% end %>
    <li role="presentation"><a href="#" id="rosterBtn">Roster</a></li>
    <li role="presentation"><%= link_to('Logout', destroy_staff_session_path) %></li>
  </ul>
</div>
<div class="col-xs-10">
  <div id="profile">
    <h2>My Profile</h2>
    <div class="row">
      <div class="col-xs-12">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", :class => "btn btn-primary form-control" %>
      </div>
    <% end %>
      </div>
    </div>
  </div>
  <div id="reports" style="display:none">
    <h2>Student Behavior Reports</h2>
    Select the students below to generate a report for, then click the Generate button. A report will be created for each child. You will receive an email with a link to download the reports.
    <% @students.each do |student| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="<%= student.id %>"> <%= student.name %> (<%= student.badge_id %>)
        </label>
      </div>
    <% end %>
    <button class="btn btn-primary" id="generate_reports">Generate Reports</button>
  </div>
  <div id="roster" style="display:none">
    <h2>Student Roster</h2>
    <table class="table table-stripped datatable">
      <thead>
        <th>Name</th>
        <th>House</th>
        <th>Grade</th>
        <th>Badge ID</th>
      </thead>
      <tbody>
        <% @members.each do |m| %>
          <tr>
            <td><%= m.name %></td>
            <td><%= m.house.name %></td>
            <td><%= m.grade %></td>
            <td><%= m.badge_id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= javascript_include_tag params[:controller] %>