<% houses = House.where(:school_id => current_admin_user.school_id.to_s).all %>
<% staff = Staff.where(:school_id => current_admin_user.school_id.to_s).all %>
<div style="min-width: 100%; float: left">
	<center><h2>Activities In Each House</h2></center>
	<% houses.each do |h| %>
		<div style="width: 50%; float: left">
			<center><b><%= h.name %></b></center>
			<div id="housePoints-<%= h.id %>" style="width:100%;height:300px"></div>
		</div>
	<% end %>
</div>
<div style="min-width: 100%; float: left">
	<center><h2>Activities Reported By Staff</h2></center>
	<% staff.each do |s| %>
		<div style="width: 50%; float: left">
			<center><b><%= s.email %></b></center>
			<div id="staffactivity-<%= s.id %>" style="width:100%;height:300px"></div>
		</div>
	<% end %>
</div>

<div style="min-width: 100%; float: left">
	<center><h2>Who Gives Out The Most Points?</h2></center>
		<div>
			<div id="mostpoints" style="width:100%;height:300px"></div>
		</div>
</div>
<script type="text/javascript" src="/js/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="/js/flot/jquery.flot.pie.min.js"></script>
<script>
	var houses, activities, staff;
	$(document).ready(function(){
		$.get("/api/houses")
		.success(function(data){
			houses = data;
			$.get("/api/staff")
			.success(function(data){
				staff = data;
				$(window).trigger('resize');
			});
		});

		window.onresize = function(event) {
			for (var i = 0; i < houses.length; i++)
			{
				$.get("/api/houses/activities?house_id="+houses[i].id)
				.success(function(data){
					$.plot("#housePoints-" + data.house, data.data, 
						{
							series: {
								pie: {
									show: true
								}
							},
							legend: {
								show: true,
								offet: {
									left: 0
								},
								position: "ne"
							}
						}
					);
				});
			}

			for (var i = 0; i < staff.length; i++ )
			{

				$.get("/api/staff/activities?staff_id="+staff[i].id)
				.success(function(data){
					$.plot("#staffactivity-"+data.staff,data.data, 
						{
							series: {
								pie: {
									show: true
								}
							},
							legend: {
								show: true,
								offet: {
									left: 0
								},
								position: "ne"
							}
						}
					);
				});
			}	
		
			$.get("/api/top_points")
			.success(function(data){
				$.plot("#mostpoints",data , 
					{
						series: {
							pie: {
								show: true
							}
						},
						legend: {
							show: true,
							offet: {
								left: 0
							},
							position: "ne"
						}
					}
				);
			});
		};
	});
</script>