<div class="row">
	<div class="col-md-10 col-md-offset-1">
	  <div class="form-group">
      <% if @super_simple_mode %>
      <div class="row">
        <div class="col-xs-12" style='padding-bottom: 15px'>
            How Many Times?
            <input type="number" class='form-control' id='ssm_times' value='1' />
        </div>
      </div>
      <div class="row">
        <div class='col-xs-12'>
            
        </div>
      </div>
      <% end %>
    <div class="row">
        <% @houses.each do |h| %>
    	<div class="col-xs-<%= @col_size_xs %> col-md-<%= @col_size_md %> col-sm-<%= @col_size_sm %>">
            <% if @super_simple_mode %>
                <center>
                    <img src="<%= h.image.url %>" class="img-responsive ssm" id="ssm-<%= h.id %>" data-name='<%= h.name %>' />
                    <% if @showHouseTextNames %>
                        <br/>
                        <h3><%= h.name %></h3>
                    <% end %>
                </center>
            <% else %>
        		<a href="#" class="item">
        			<center>
                        <img src="<%= h.image.url %>" class="img-responsive" id="<%= h.id %>" />
                        <% if @showHouseTextNames %>
                            <br/>
                            <h3><%= h.name %></h3>
                        <% end %>
                    </center>
        		</a>
            <% end %>
    	</div>
        <% end %>
    </div>
  </div>
  <% if !@super_simple_mode %>
  <div class="form-group">
    <% if @custom_points %>
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
            <li role="presentation"><a href="#custom" aria-controls="custom" role="tab" data-toggle="tab">Custom</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="list">
                <label for="exampleInputPassword1">Activity</label>
                <select class="form-control" id="activity">
                    <option value="">- Select One -</option>
                    <% @activities.each do |a| %>
                    <option value="<%= a.id %>"><%= a.name %></option>
                    <% end %>
                </select>
                <% if @track_student == true %>
                    <div id="studentWrapperList">
                        <label for="student">Student</label>
                        <input type="text" class="form-control typeahead" id="studentText"/>
                        <div id="studentListSet"></div>
                    </div>
                <% end %>
                <% if @show_note == true %>
                    <label for="note">Note</label>
                    <textarea class="form-control" id="note_list"></textarea>
                <% end %>
                <% if @can_add_multiple %>
                    <label for="times">Add Points This Many Times</label>
                    <input type="number" class="form-control" id="times_list"/>
                <% end %>
            </div>
            <div role="tabpanel" class="tab-pane" id="custom">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title"/>
                <label for="amount">Points</label>
                <input type="number" class="form-control" id="amount"/>
                <% if @track_student == true %>
                    <div id="studentWrapperCustom">
                        <label for="student">Student</label>
                        <input type="text" class="form-control typeahead" id="studentTextCustom"/>
                        <div id="studentListCustom"></div>
                    </div>
                <% end %>
                <% if @show_note == true %>
                    <label for="note">Note</label>
                    <textarea class="form-control" id="note_custom"></textarea>
                <% end %>
                <% if @can_add_multiple %>
            <label for="times">Add Points This Many Times</label>
            <input type="number" class="form-control" id="times_custom"/>
        <% end %>
            </div>
          </div>

        </div>
    <% else %>
        <label for="exampleInputPassword1">Activity</label>
        <select class="form-control" id="activity">
            <option value="">- Select One -</option>
            <% @activities.each do |a| %>
        	<option value="<%= a.id %>"><%= a.name %></option>
            <% end %>
        </select>
        <% if @track_student == true %>
            <label for="gradeList">Student Grade</label>
            <select id="gradeList" class="form-control">
            <option value="">- Select One -</option>
            <% @grades.each do |g| %>
                <option value="<%= g %>"><%= g %></option>
            <% end %>
            </select>
            <div style="display: none" id="studentWrapperList">
                <label for="student">Student</label>
                <input type="text" class="form-control typeahead" id="studentList"/>
                <input type="hidden" id="member_id_list" />
            </div>
        <% end %>
        <% if @show_note == true %>
            <label for="note">Note</label>
            <textarea class="form-control" id="note_list"></textarea>
        <% end %>
        <% if @can_add_multiple %>
            <label for="times">Add Points This Many Times</label>
            <input type="number" class="form-control" id="times_list"/>
        <% end %>
    <% end %>
  </div>
  <button type="submit" class="btn btn-default form-control" id="submit">Submit</button>
</div>
    <% end %>
</div>
<%= javascript_include_tag params[:controller] %>
<% if @super_simple_mode %>
    <script type="text/javascript">
        var staff_id = <%= current_staff.id %>;
        var points = <%= @ssm_points %>;
    </script>
<% end %>