<div class="row">
	<%= form_tag do %>
		<h2>How many QR Codes should we generate?</h2>
		<input type="text" class="form-control" name="amount" id="amount" />
		</br>
		<button type="submit" class="form-control btn btn-primary">Generate</button>
	<% end %>
</div>