
<div class="row">
	<% i = 0
	@codes.each do |code|  %>
		<div class="col-xs-6" style="page-break-inside: avoid">
			<center><h2><%= @school.name %></h2>
			<img src="<%= code.resize(200,200).to_data_url %>" class="img-responsive"/>
			<h2>House Cup</h2></center>
		</div>
	<% end %>
</div>