<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		      	J. L. Long Middle School
		      </a>
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="score.html">Score</a></li>
		      	<li><a href="#">Login</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="container">
		  <div class="row">
		  	<div class="col-xs-12">
		  		<center>
		  			<h2>J.L. Long House Cup Standings</h2>
		  		</center>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="col-xs-2">
		  		<center>
		  			<img src="img/gryffindor.jpg" class="img-responsive"/>
		  			<div id="score-1" class="score">
					    <div class="outer">
					        <div class="inner" data-progress="23%" style="background-color: blue">
					        </div>        
					    </div>
		  			</div>
		  			<b class="score">232 Points</b>
		  		</center>
		  	</div>
		  	<div class="col-xs-2">
		  		<center>
		  			<img src="img/gryffindor.jpg" class="img-responsive"/>
		  			<div id="score-2" class="score">
					    <div class="outer">
					        <div class="inner" data-progress="50%" style="background-color: red">
					        </div>        
					    </div>
		  			</div>
		  			<b class="score">500 Points</b>
		  		</center>
		  	</div>
		  	<div class="col-xs-2">
		  		<center>
		  			<img src="img/gryffindor.jpg" class="img-responsive"/>
		  			<div id="score-3" class="score">
					    <div class="outer">
					        <div class="inner" data-progress="10%" style="background-color: green">
					        </div>        
					    </div>
		  			</div>
		  			<b class="score">100 Points</b>
		  		</center>
		  	</div>
		  	<div class="col-xs-2">
		  		<center>
		  			<img src="img/gryffindor.jpg" class="img-responsive"/>
		  			<div id="score-4" class="score">
					    <div class="outer">
					        <div class="inner" data-progress="25%" style="background-color: orange">
					        </div>        
					    </div>
		  			</div>
		  			<b class="score">250 Points</b>
		  		</center>
		  	</div>
		  	<div class="col-xs-2">
		  		<center>
		  			<img src="img/gryffindor.jpg" class="img-responsive"/>
		  			<div id="score-5" class="score">
					    <div class="outer">
					        <div class="inner" data-progress="37.5%" style="background-color: black">
					        </div>        
					    </div>
		  			</div>
		  			<b class="score">375 Points</b>
		  		</center>
		  	</div>
		  	<div class="col-xs-2">
		  		<center>
		  			<img src="img/gryffindor.jpg" class="img-responsive"/>
		  			<div id="score-6" class="score">
					    <div class="outer">
					        <div class="inner" data-progress="42.5%" style="background-color: yellow">
					        </div>        
					    </div>
		  			</div>
		  			<b class="score">425 Points</b>
		  		</center>
		  	</div>
		  </div>
		</div>