<div class="row">
	<div class="col-xs-12">
		<center>
			<h1>Welcome to</h1>
		</center>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<center>
			<img src="<%= @house.image.url %>" class="img-responsive" />
		</center>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<center>
			<h2><%= @house.name %> House!</h2>
		</center>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<center>
			<h3>Enter Student ID</h3>
			<input type="text" id="studentId" class="form-control"/></br>
			<h3>Enter Student Name</h3>
			<input type="text" id="name" class="form-control"/></br>
			<button class="btn btn-primary form-control" id="invite">Add To House</button>
		</center>
	</div>
</div>