<html>
	<body>
		<center>
			Greetings!<br/>
			Your requsted admin behavior report for <%= @member.name %> is ready for you!<br/><br/>
			<a href="<%= @file_url%>">DOWNLOAD</a>
		</center>
	</body>
</html>